
.centreChat {
  margin: 0 auto;
  max-width: 780px;
  padding: 0 20px;
  margin-top: 90px;
  margin-left: 140px;
}

.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  width: auto;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}

.EditSpace input{
    width: 500px;
    padding: 10px;
  margin: 10px 0;
  margin-bottom: 40px;
}

.form-control{
  width: 650px;
  float: left;
}

#btnSend{
      width: 90px;
     height: 39px;
     cursor: pointer;
     border-radius: 12px;
     background-color:transparent;
     border: 2px solid #e9f4fb;
     color: white;
     font-family: 'Poppins';
     margin-bottom: 100px;
     font-size: 15px;
 }
 #btnSend:hover{
     
     background-color: thistle;
     transition-duration: 0.5s;
     box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
 }

.bodyMessage{
  margin-bottom: 50px;
}

.centreChat{
  position: absolute;
}