
.users {
    margin-left: 120px;
    margin-top: 100px;
      display: inline-block;
      padding: 0 25px;
      height: 120px;
      width: 600px;
      font-size: 16px;
      line-height: 50px;
      border-radius: 25px;
      background-color: #f1f1f1;
    }
    
    .users img {
      float: left;
      margin: 0 10px 0 -25px;
      height: 120px;
      width: 200px;
      border-radius: 50%;
    }

    .users input{
        margin-top: 35px;
        font-size: 25px;
        font-family: "Poppins";
        border: none;
        outline: none;
        background: transparent;
        cursor: pointer;
    }

    .btn{
        cursor: pointer;
    }